{% extends "page.html" %}
<body{% block bodytag %} data-site-root="{{ h.url('/', locale='default', qualified=true) }}" data-locale-root="{{ h.url('/', qualified=true) }}" class="interna with-intro" {% endblock %}>
    
{% block breadcrumb_content %}
  <li class="active"><a href="#">Credits</a></li>
{% endblock %}

    {% block main_content_class %}col-xs-12{% endblock %}

    {% block primary_content %}
    
        <div class="row">
            <div class="span4"></div>
            <div class="span7"><h2 class="page_heading">Credits</h2></div>
        </div>

        <div class="row">
            <div class="span4">
                <img width="200" src="/images/logo_toscana_payoff.jpg">
            </div>
            <div class="span7">
                <h3>Regione Toscana</h3>
                <p>
                    	Regione Toscana - Settore Infrastrutture e Tecnologie<br/>
			Responsabile del settore: Ing. <a href="http://www.consiglio.regione.toscana.it/articolazioni/Persone.aspx?id=00000003A2E300010000014815779BC3">Laura Castellani</a><br>
			Responsabile del progetto: <a href="http://www.consiglio.regione.toscana.it/articolazioni/Persone.aspx?id=00000003A2D800080000014815779BC3">Davide Bruno</a></p>
			<p>Gruppo di Lavoro per gli Open Data  istituito ai sensi della
			<a href="http://goo.gl/QIYF6I">delibera n. 23</a> del 21/01/2013
			dal titolo "Realizzazione piattaforma open data e approvazione
			linee guida recanti criteri generali per gli open data in Regione Toscana" nella seduta del
			Comitato tecnico di direzione in data 24/04/2013.
			Il gruppo di lavoro ha le seguenti funzioni: eseguire e coordinare tutte le attività
			necessarie per l'attuazione della deliberazione n. 23 del 21/01/2013,
			affrontare tutti gli aspetti legati alla pubblicazione degli open data
			nella nuova sezione del sito web istituzionale e sostenere l’opportuna attività di divulgazione.
			Il gruppo di lavoro è composto da: Laura Castellani (responsabile del gruppo di lavoro),
			Davide Bruno, Fernanda Faini, Antonella Barlacchi, Lorena Gazzini, Marica Ugoni Marchetto, Leonardo Borselli, Mariella Lenzi, Viviana Cossi (DG Organizzazione);
			Emiliano Ricci (DG Presidenza); Walter Pratesi (DG Mobilità, infrastrutture e trasporto pubblico locale).
			<br/><br/>
			Nel 2015 è stata promulgata la <a href="http://raccoltanormativa.consiglio.regione.toscana.it/articolo?urndoc=urn:nir:regione.toscana:legge:2015-02-18;19&pr=idx,1;artic,0;articparziale,0">L.R. n.19 del 18/02/15 "Disposizioni in materia di dati aperti e loro riutilizzo"</a>.
		</p>
            </div>
        </div>

	 <div class="row">
            <div class="span4">
            </div>
            <div class="span7">
                <h2>Progetti Europei</h2>
            </div>
        </div>

	 <div class="row">
            <div class="span4">
                <img width="200" src="/images/fusepoolp3-logo-text.svg">
            </div>
            <div class="span7">
                <h3>Fusepool p3</h3>
                <p>
                   Regione Toscana è partner del progetto europeo <a href="http://p3.fusepool.eu">Fusepool p3</a> come "Data Provider“. 
		Il progetto europeo EU Fusepool P3 ha come obiettivo lo sviluppo di una piattaforma integrata nell’ambito dei big data, semantica applicata, multilinguismo, per la pubblicazione e l’elaborazione di open data per la creazione di open linked data.<br></p>
            </div>
        </div>
	
         <div class="row">
            <div class="span4">
                <img width="200" src="/images/fi-ware_accelerators.jpg">
            </div>
            <div class="span7">
                <h3>FI - WARE</h3>
                <p>Il catalogo CKAN degli open data di Regione Toscana è disponibile anche per il progetto europeo <a href="http://www.f6s.com/fiware-soul-fi">FI - WARE</a> progetto acceleratore che mira a finanziare promettenti applicazioni e servizi che contribuiranno a rendere le città d’ Europa più smart e più sostenibile per i propri cittadini.<br></p>
            </div>
        </div>

	 <div class="row">
            <div class="span4">
            </div>
            <div class="span7">
                <h2>Powered by</h2>
            </div>
        </div>

	<div class="row">
            <div class="span4">
                <img width="100" src="/images/logo_ckan.jpg">
            </div>
            <div class="span7">
                <h3>CKAN</h3>
                <p><a href="http://ckan.org/">http://ckan.org.eu/</a><br><br></p>
            </div>
        </div>




    {% endblock %}

</body>

